{% extends "base.html" %}

{% block titulo%}
    Modificación de movimiento
{% endblock %}

{% block contenido %}
    <h1>Modifica movimiento</h1>

    <form action="/modifica/{{ id }}" method="post">
        {{ formulario.hidden_tag() }}
        <div class="grid">
            {{ formulario.fecha.label()}}
            {{ formulario.fecha()}}
        </div>
        {% if formulario.fecha.errors %}
        {% for error in formulario.fecha.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <div class="grid">
            {{ formulario.hora.label()}}
            {{ formulario.hora()}}
        </div>
        {% if formulario.hora.errors %}
        {% for error in formulario.hora.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <div class="grid">
            {{ formulario.concepto.label() }}
            {{ formulario.concepto() }}
        </div>
        {% if formulario.concepto.errors %}
        {% for error in formulario.concepto.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <div class="grid">
            {{ formulario.es_ingreso.label() }}
            {{ formulario.es_ingreso() }}
        </div>
        <div class="grid">
            {{ formulario.cantidad.label() }}
            {{ formulario.cantidad(type="number", step="0.01") }}
        </div>
        {% if formulario.cantidad.errors %}
        {% for error in formulario.cantidad.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
<div class="grid">
            {{ formulario.aceptar() }}
        </div>
    </form>
{% endblock %}