{% extends "base.html" %}

{% block titulo %}
    Movimientos
{% endblock %}

{% block contenido %}
    <h1>Lista de movimientos</h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
        </tr>
        {% for item in movimientos %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

