{% extends "base.html" %}

{% block titulo%}
    Movimientos
{% endblock %}

{% block contenido %}
    <h1>Listado de movimientos</h1>
    <table class="movimientos">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.hora }}</td>
            <td>{{ movimiento.concepto }}</td>
            
            <td>{% if movimiento.es_ingreso == 1 %} Ingreso {% else %} Gasto {% endif %}</td>
            <td>{{ movimiento.cantidad }}</td>
            <td>
                <a href="/modifica/{{ movimiento.id }}">Editar</a>
                <a href="/borra/{{ movimiento.id }}">Borrar</a>
            </td>            
        </tr>
        {% endfor%}
    </table>

{% endblock %}

